body {background: #EFF47F;}

h1 { color: black;
font-family:Arial; }
h2 { color: blue;
font-family: Times New Roman; }
h3 { color: white;
font-family: Aharoni; }
h4 { color: green;
font-family: Aharoni; }
h5 { color: black;
font-family: Arial; }



.imp { font-size: x-large; }